
SoulBridge/.vs/SoulBridge/FileContentIndex/abc63dae-1f59-4812-8ce6-51d1fc9efab2.vsidx
SoulBridge/.vs/SoulBridge/FileContentIndex/f2709f1c-a6ab-4ec8-83a9-de23f1ee807b.vsidx
SoulBridge/.vs/SoulBridge/v17/.suo
